<div class="list__item">
  <article class="archive__item teaching__item">
    <p class="teaching__title">{{ post.title }}</p>
    <p class="archive__item-meta">{{ post.type }}, <i>{{ post.venue }}</i>{% if post.role == "instructor" and post.location %}, {{ post.location }}{% endif %}</p>
    {% if post.excerpt %}<p class="teaching__terms">{{ post.excerpt | strip_html | strip }}</p>{% endif %}
    {% assign body = post.content | strip %}
    {% if body != "" %}<div class="teaching__description">{{ body | markdownify }}</div>{% endif %}
  </article>
</div>
